.addHeight{
    height: 100px;
}

.answserWarning{
    margin-top: 100px;
    text-align: center;
    width: 280px;
    margin: auto;
    font-size: 14px;
}

.refreshWarning{
    margin: auto;
    width: 280px;
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
}

.centerMe{
    height: 400px;
    width: 320px;
    /* border: 1px solid black; */
    margin: auto;
    text-align: center;
}

.essay{
    text-align: center;
    font-size: 20px;
}

.obj{
    text-align: center;
    font-size: 20px;
}

.agricImg{
    width: 300px;
}